* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #9a88b2;
  --light-color: #fff;
  --dark-color: #5d7c65;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: #f9f7f1;
}

a {
  text-decoration: none;
  color: #3a3a3a;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* Navbar */
.navbar {
  padding: 40px;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .main-menu ul {
  display: flex;
}

.navbar ul li a {
  padding: 10px 20px;
  display: block;
  font-size: 1.25rem;
  font-weight: 700;
  transition: 0.5s;
}

.navbar ul li a:hover {
  color: var(--primary-color);
}

/* Hero */
.hero .hero-content {
  width: 363px;
  position: absolute;
  top: 142px;
  left: 48px;
}

.container-hero {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.hero-btn {
  padding: 40px 0 0;
  margin-left: 92px;
}

/* Workshop */
.workshop {
  margin-top: 104px;
  padding-bottom: 20px;
}
.workshop-container {
  display: flex;
  max-width: 1120px;
  margin: 0 auto;
  gap: 16px;
  padding-top: 32px;
}

.workshop-card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 363px;
  flex-wrap: wrap;
  border-radius: 8px;
  padding-bottom: 16px;
  img {
    border-radius: 8px 8px 0 0;
  }
  .btn {
    width: 167px;
    height: 54px;
    align-self: center;
    margin-top: auto;
  }
}

.workshop-heading {
  width: 338px;
  text-align: center;
}

.workshop-info {
  padding: 0 13px;
}

.date {
  padding-top: 16px;
}

/* Testimonials */
.testimonials {
  margin-top: 104px;
}
.testimonials-content {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-top: 32px;
}

.testimonials-cards {
  display: flex;
  align-items: center;
  gap: 16px;
}

.card {
  background: #fff;
  padding: 32px;
  border-radius: 8px;
  .text {
    font-style: italic;
    padding-bottom: 8px;
  }
  .person {
    padding-top: 8px;
  }
}

.fa-solid {
  color: #3a3a3a;
}

/* Utility Classes */
.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0;
}

.container-small {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Buttons */
.btn {
  display: inline-block;
  padding: 16px;
  background-color: var(--primary-color);
  color: #f9f7f1;
  font-weight: 700;
  text-decoration: none;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transform: 0, 5s;
}

.btn:hover {
  opacity: 0.8;
}

.btn-light {
  background-color: #f9f7f1;
  color: #3a3a3a;
}

/* Text Classes */
.text-xxl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 500;
  color: #f9f7f1;
}

.text-xl {
  font-size: 2rem;
  line-height: 1.4;
  font-weight: 500;
  color: #3a3a3a;
}

.text-m {
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 500;
  color: #3a3a3a;
}

.text-center {
  text-align: center;
}
