* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #9a88b2;
  --light-color: #fff;
  --dark-color: #5d7c65;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: #f9f7f1;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #3a3a3a;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* Navbar */
.navbar {
  padding: 40px;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .main-menu ul {
  display: flex;
}

.navbar ul li a {
  padding: 10px 20px;
  display: block;
  font-size: 1.25rem;
  font-weight: 700;
  transition: 0.5s;
}

.navbar ul li a:hover {
  color: var(--primary-color);
}

/* Hero */
.hero .hero-content {
  width: 363px;
  position: absolute;
  top: 142px;
  left: 48px;
}

.container-hero {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0;
  position: relative;

  .hero-image {
    background: url(images/header\ image_desktop.png) no-repeat;
    height: 488px;
    background-size: contain;
    background-position: center;
  }
}

.hero-btn {
  padding: 40px 0 0;
  margin-left: 92px;
}

/* Workshop */
.workshop {
  margin-top: 104px;
  padding-bottom: 20px;
}
.workshop-container {
  display: flex;
  max-width: 1120px;
  margin: 0 auto;
  gap: 16px;
  padding-top: 32px;
}

.workshop-card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 363px;
  flex-wrap: wrap;
  border-radius: 8px;
  padding-bottom: 16px;
  img {
    border-radius: 8px 8px 0 0;
  }
  .btn {
    width: 167px;
    height: 54px;
    align-self: center;
    margin-top: auto;
  }
}

.workshop-heading {
  width: 338px;
  text-align: center;
}

.workshop-info {
  padding: 0 13px;
}

.date {
  padding-top: 16px;
}

/* Testimonials */
.testimonials {
  margin-top: 104px;
}
.testimonials-content {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-top: 32px;
}

.testimonials-cards {
  display: flex;
  align-items: center;
  gap: 16px;
}

.card {
  background: #fff;
  padding: 32px;
  border-radius: 8px;
  .text {
    font-style: italic;
    padding-bottom: 8px;
  }
  .person {
    padding-top: 8px;
  }
}

.fa-solid {
  color: #3a3a3a;
}

/* About */
.about {
  margin-top: 104px;
  margin-bottom: 120px;
}
.left-line {
  width: 2px;
  height: 220px;
  background: #3a3a3a;
}

.story {
  margin: 72px 9px 0px 9px;
  display: grid;
  grid-template-columns: 154px 2px 800px;
  gap: 48px;
  .about-heading {
    margin: 88px 0px 88px;
  }
}

.right-line {
  width: 2px;
  height: 220px;
  background: #3a3a3a;
}

.missio {
  display: grid;
  grid-template-columns: 791px 2px 230px;
  gap: 48px;
  margin-top: 72px;
  .missio-text {
    margin: 77px 0px 77px;
  }
  .about-heading {
    margin: 88px 0px 88px;
  }
}

/* Footer */
.footer {
  padding: 56px 88px 16px;
  background-color: var(--dark-color);
  color: #f9f7f1;
}

.footer h4 {
  margin-bottom: 25px;
  font-size: 1.125;
  font-weight: 800;
}

.footer ul li {
  line-height: 2.5;
}

.footer ul li a {
  color: #f9f7f1;
}

.footer-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 64px;
  justify-content: center;
  align-items: center;
}

.footer .card {
  margin: 40px 24px 56px 0;
  padding: 24px;
  border-radius: 16px;
  background: #f4f4f6;
  align-items: center;
}

footer .card h4 {
  color: #3a3a3a;
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0;
}

.footer-text {
  font-style: italic;
  font-weight: 400;
  margin-top: 32px;
}

.footer form {
  display: flex;
  flex-direction: row;
  gap: 32px;
  .btn {
    height: 40px;
    width: 104px;
    padding: 0;
    align-self: center;
    font-family: Nunito;
  }
}
.footer input[type="email"] {
  width: 220px;
  padding: 8px;
  border: 1px solid #3a3a3a;
  border-radius: 8px;
  margin: 20px 0;
  background: none;
}

/* Utility Classes */
.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0;
}

/* Buttons */
.btn {
  display: inline-block;
  padding: 16px;
  background-color: var(--primary-color);
  color: #f9f7f1;
  font-weight: 700;
  text-decoration: none;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transform: 0, 5s;
}

.btn:hover {
  opacity: 0.8;
}

.btn-light {
  background-color: #f9f7f1;
  color: #3a3a3a;
}

/* Text Classes */
.text-xxl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 500;
  color: #f9f7f1;
}

.text-xl {
  font-size: 2rem;
  line-height: 1.4;
  font-weight: 500;
  color: #3a3a3a;
}

.text-m {
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 500;
  color: #3a3a3a;
}

.text-s {
  font-size: 1rem;
  line-height: 1.4;
  font-weight: normal;
}

.text-center {
  text-align: center;
}

/* Mobile Menu */
.hamburger-button {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 1000;
}

.hamburger-button .hamburger-line {
  width: 30px;
  height: 3px;
  background: #3a3a3a;
  margin: 6px 0;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: -300px;
  width: 250px;
  height: 100%;
  z-index: 100;
  background: #fff;
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
}

.mobile-menu.active {
  right: 0;
}

.mobile-menu ul {
  margin-top: 100px;
  padding-right: 10px;
}

.mobile-menu ul li {
  margin: 10px 0;
}

.mobile-menu ul li a {
  font-size: 20px;
  transition: 0.3s;
}

/* Media Querues */
@media (max-width: 960px) {
  .text-xxl {
    font-size: 1.25rem;
  }

  .hero .hero-content {
    width: 300px;
    position: absolute;
    top: 200px;
    left: 32px;
  }

  .hero-btn {
    padding: 40px 0 0;
    margin-left: 48px;
  }
}

@media (max-width: 670px) {
  .navbar .main-menu {
    display: none;
  }

  .navbar .hamburger-button {
    display: block;
  }

  .container-hero .hero-image {
    background: url(images/header\ img_mobile.png) no-repeat;
    background-size: 100%;
    background-position: relative;
    margin: 0 24px;
    border-radius: 8px;
  }

  .hero .hero-content {
    width: 376px;
    background: var(--dark-color);
    border-radius: 8px;
    padding: 24px 16px;
    margin: 0 32px;
    text-align: center;
  }

  .hero-btn {
    margin: 0;
  }

  .text-xl {
    font-size: 1.25rem;
  }

  .text-m {
    font-size: 1rem;
  }

  .text-s {
    font-size: 0.75rem;
  }

  .workshop-container {
    flex-direction: column;
    align-items: center;
  }

  .testimonials {
    margin-top: 56px;
  }

  .testimonials-content {
    margin: 32px 24px 0;
  }

  .testimonials-cards {
    flex-direction: column;
  }

  .card-2 {
    display: none;
  }

  .container-about {
    max-width: 960px;
    overflow-x: hidden;
  }

  .about {
    margin-top: 56px;
    margin-bottom: 32px;
  }

  .story {
    grid-template-columns: 1fr;
    gap: 24px;
    margin: 0 24px;
  }

  .story .about-heading {
    margin: 0;
  }

  .left-line {
    height: 2px;
    width: 220px;
  }

  .missio {
    grid-template-columns: 1fr;
    gap: 24px;
    margin: 0 24px;
  }

  .missio .missio-text {
    margin-bottom: 0;
  }

  .missio .about-heading {
    margin: 0;
  }

  .right-line {
    height: 2px;
    width: 220px;
  }

  .footer .footer-grid {
    grid-template-columns: 1fr;
  }

  .footer .card {
    margin-right: 0;
  }

  .footer .footer-grid > div {
    text-align: center;
  }

  .footer .text-center {
    margin-top: 96px;
  }
}
@media (max-widht: 500px) {
}
